<h1>Lista de templates</h1>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
  </tr>
  <% if @templates %>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>
  Path dos templates: <%= CONFIG[Rails.env.to_sym]["latex_template_path"] %>
</p>
