 <div class="timeline">
    <ul>
      <li class="past">
        <a>
          Passo Um
        </a>
      </li>
      <li class="active">
        <a>
          Passo Dois
        </a>
      </li>
      <li class="">
        <a>
          Passo Três
        </a>
      </li>
      <li>
        <a>
          Passo Quatro
        </a>
      </li>
    </ul>
  </div>

  <div class="main wrapper">
    <aside class="editable" style="min-height: 596px;">

      <nav class="segmentation">
        <ul id="templatesOptions">

          <li class=" selected">
            <a class="action" href="#">
              Subpasso Um            </a>
          </li>

          <li class=" ">
            <a class="action" href="#">
              Subpasso Dois
            </a>
          </li>

          <li class=" ">
            <a class="action" href="#">
              Subpasso Três
            </a>
          </li>

          <li class=" ">
            <a class="action" href="#">
              Subpasso Quatro
            </a>
          </li>

          <li class=" ">
            <a class="action" href="#">
              Subpasso Cinco
            </a>
          </li>

          <li class="">
            <a class="action" href="#">
              Subpasso Seis
            </a>
          </li>

        </ul>
      </nav>


    </aside>
  <article>
  <p class="segmentation-info">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <form accept-charset="UTF-8" action="/segmentations/14" class="simple_form segmentation" id="segmentationForm" method="post" novalidate="novalidate">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="patch"><input name="authenticity_token" type="hidden" value="yy7Y7efrcZzStzrSAqwMlHvXAKwlA2V3suJdJwIhzRE="></div><div class="input hidden segmentation_next_url"><input class="hidden" id="segmentation_next_url" name="segmentation[next_url]" type="hidden" value="/segmentations/age"></div>
  <span><input checked="checked" id="segmentation_sex_todos" name="segmentation[sex]" type="radio" value="Todos"><label checked="checked" class="collection_radio_buttons" for="segmentation_sex_todos">Opção Um</label></span>
  <span><input id="segmentation_sex_f" name="segmentation[sex]" type="radio" value="F"><label class="collection_radio_buttons" for="segmentation_sex_f">Opção Dois</label></span>
  <span><input id="segmentation_sex_m" name="segmentation[sex]" type="radio" value="M"><label class="collection_radio_buttons" for="segmentation_sex_m">Opção Três</label></span>
  </form>


  </article>
  </div>
