<div id="saiba">

  <section id="saiba-mais">
    <div class="saiba-mais">
      <h1>Saiba mais</h1>
        <p class="question">
          O que é o Livro da Classe?
        </p>
        <p class="answer">
          É uma plataforma de edição colaborativa, com apoio editorial e impressão digital. 
        </p>

        <p class="question">
          Por que usar o Livro da Classe?
        </p>
        <p class="answer">
          Ajuda e orienta professores e alunos a produzir um livro com a qualidade
          editorial desejável e as facilidades de uma produção automatizada e em rede.
        </p>

        <p class="question">
          Quais serviços o Livro da Classe oferece?
        </p>
        <p class="answer">
          Acompanhamento editorial: atendimento ao professor, orientação de uso da
          plataforma, contato com prestadores de serviço (editor, preparador, revisor,
          capista etc.), produção gráfica, ISBN e Ficha catalográfica etc.<br /><br />
          Editor: responsável pela produção do livro<br />
          Preparador: responsável pela preparação; esse serviço pode ser utilizado por
          aqueles que entendem que querem aperfeiçoar aspectos de texto<br />
          Revisão: responsável pela correção gramatical do livro<br />
          Capista: responsável pela confecção de capas costumizadas 
        </p>

        <p class="question">
          Preciso de ISBN e Ficha catalográfica para o meu projeto? 
        </p>
        <p class="answer">
          Segundo a lei brasileira, todo folheto com mais de seis páginas que se presta
          à divulgação de determinado conteúdo deve ter o número de ISBN e uma Ficha
          Catalográfica. O ISBN (International Standard Book Number) é um sistema que
          identifica numericamente os livros segundo título, autor, país e a editora,
          individualizando-os por edição. Já a Ficha contém informações bibliográficas
          para identificar e localizar um livro no acervo de uma biblioteca.
        </p>

        <p class="question">
          Como costumizar o seu projeto?
        </p>
        <p class="answer">
          Se há intenção de dar um aspecto gráfico editorial diferenciado para cada
          projeto e não usar o standard sugere-se a aquisição de um de nossos planos
          pagos. 
        </p>

        <p class="question">
          Há limites de projetos por usuário?
        </p>
        <p class="answer">
          Não há limite de projeto. Se a escola ou o professor escolher usar apenas a plataforma não há problema algum. 
        </p>

        <p class="question">
          Há limite mínimo e máximo do número de páginas por projeto?
        </p>
        <p class="answer">
          O projeto deve ter no mínimo 72 páginas. Não há limite de páginas; no entanto
          advertimos desde já que se o livro for muito grande pode encarecer o projeto a
          ponto de não ser tão interessante para a escola.
        </p>

        <p class="question">
          É possível usar a pĺataforma sem serviços e no fim do projeto adquirir alguns exemplares?
        </p>
        <p class="answer">
          Sim, é possível adquirir, com tiragem mínima de 100 exemplares. 
        </p>

        <p class="question">
          Qual a tiragem adequada ao meu projeto?
        </p>
        <p class="answer">
          A tiragem mínima é de 100 exemplares, a partir disso, pode ser solicitado qualquer quantidade desejada.
        </p>
    </div>
  </section>

</div>
