<div id="wizard">

  <section class="wizard">
    <div class="steps">
      <div class="bar">
        <ul>
          <li class="past">
            <a>Passo Um</a>
          </li>
          <li class="active">
            <a>Passo Dois</a>
          </li>
          <li>
            <a>Passo Três</a>
          </li>
          <li>
            <a>Passo Quatro</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="substeps">
      <div class="buttons">
        <ul>
          <li>
            <a class="action" href="#">Subpasso Um</a>
          </li>
          <li class="selected">
            <a class="action" href="#">Subpasso Dois</a>
          </li>
          <li>
            <a class="action" href="#">Subpasso Três</a>
          </li>
          <li>
            <a class="action" href="#">Subpasso Quatro</a>
          </li>
          <li>
            <a class="action" href="#">Subpasso Cinco</a>
          </li>
          <li>
            <a class="action" href="#">Subpasso Seis</a>
          </li>
        </ul>
      </div>

      <div class="substep">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <form action="" class="form" id="form" method="post">
          <span>
            <input id="" name="" type="radio" value="">
            <label class="" for="">Opção Um</label>
          </span>
          <span>
            <input id="" name="" type="radio" value="">
            <label class="" for="">Opção Dois</label>
          </span>
          <span>
            <input id="" name="" type="radio" value="">
            <label class="" for="">Opção Três</label>
          </span>
          <span>
            <input id="" name="" type="radio" value="">
            <label class="" for="">Opção Quatro</label>
          </span>
          <span>
            <input id="" name="" type="radio" value="">
            <label class="" for="">Opção Cinco</label>
          </span>
        </form>
      </div>
    </div>
  </section>

</div>
