<h2>Comentário(s)</h2>
<%= render :partial => "/comments/show", :collection => @text.comments, :as => :comment %>

<%= simple_form_for([@book, @text, @comment]) do |f| %>
	<%= f.input :content, :as => :text, :label => false, :class =>'input-item', :row =>'5' %>
	<%= f.button :submit, "Enviar", :class =>'btn-default bc-gray tc-gray-dark' %>
<% end %>

<div class="clear"></div>