<h2>Comentários</h2>

<%= render :partial => "/comments/show", :collection => @text.comments, :as => :comment %>

<%= simple_form_for([@book, @text, @comment]) do |f| %>
  <%= f.input :content, :as => :text, :label => false%>
  <%= f.button :submit, "Postar comentário" %>
<% end %>

<style type="text/css">
  textarea {
  width: 370px;height: 60px;
  }
  .form-horizontal .controls {
    margin-top: 10px;
    margin-left: 0px;
  }
</style>