<h1>Manual</h1>
<%= form_tag(admin_manual_update_path, method: :post) do %>
  <div>
    <%= text_area_tag :content, "#{@content}" %>
  </div>
  <div>
    <%= submit_tag("Salvar") %>
  </div>
<% end %>
