<% if @profiles.present? %>
  <div class="row">
    <div class="span9">
      <h1>Perfis</h1>
    </div>

    <div class="span3">
      <%= link_to 'Novo Perfil', new_admin_profile_path, :class => 'btn btn-primary btn-new' %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Descrição</th>
      <th></th>
    </tr>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.desc %></td>
        <td><!--<%= link_to 'Editar', edit_admin_profile_path(profile), :class => 'btn btn-mini' %>--></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="blank">Nenhum perfil cadastrado. <%= link_to 'Definir um novo perfil para o sistema?', new_admin_profile_path %></p>
<% end %>