


<!-- STEP: 04_COLABORATORS -->
<div id="step-colaborators" class="clearfix">


	<!-- content -->
	<section class="content" style="float:none;">

		<!-- tab-book-colaborators -->
		<div class="tab-book-colaborators">
			<div class="header clearfix">
				<h2 class="sans-light ts-28 tc-blue lh-big left">Colaboradores</h2>
			</div>


			<div class="colaborators">
				<div class="form-item flex-top">
					<label class="ts-18 tc-gray-light lh-big"></label>
					<input name="book[title]" type="text" value="">
				</div>

				<div class="acions">
					<a href="#" class="btn btn-default bc-blue tc-white">Procurar</a>
				</div>
			</div>


		</div>

	</section>


</div>


<script>
	
	$(document).ready(function()
	{
		// common.bridge('post', 'http://192.168.0.114:3000/books/a754ac62-c442-5988-96d5-77429bde85a4/collaborators.json', _data, function(data){ console.log(data) });
	});

</script>