<div class="container">
  <%= flash_message %>
  <h1><%= @user.name %></h1>

  <dl>
    <dt>E-mail</dt>
    <dd><%= @user.email %></dd>
  </dl>

  <%= link_to 'Editar perfil', edit_user_path(@user) %>
</div>
