<h1>Listing collaborators</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collaborators.each do |collaborator| %>
  <tr>
    <td><%= link_to 'Show', book_collaborator_path(@book, collaborator) %></td>
    <td><%= link_to 'Edit', edit_book_collaborator_path(@book, collaborator) %></td>
    <td><%= link_to 'Destroy', [@book, collaborator], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collaboration', new_book_collaborator_path(@book) %>
