<h1>Colaboradores</h1>

<table class="table">
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @collaborators.each do |collaborator| %>
  <tr>
    <td><%= collaborator.email rescue 'N/A' %></td>
    <td><%= link_to 'Show', book_collaborator_path(@book, collaborator) %></td>
    <td><%= link_to 'Edit', edit_book_collaborator_path(@book, collaborator) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collaborator', new_book_collaborator_path(@book) %>
