<h1><%=t :invite_new_collaborator %></h1>

<%= simple_form_for([@book, @collaborator], :url => book_collaborators_path) do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:send_invitation_submit) %>
  </div>
<% end %>
