<h1>Projeto: <%= @project.book.title %></h1>
<h4 style="margin: 0 0 40px 0;">
  Usuário: <%= link_to @project.book.organizer.email, impersonate_admin_project_path(@project) %>
</h4>

<dl>
  <dt>Data de lançamento</dt>
  <dd><%= @project.release_date %></dd>
</dl>
