<%= flash_message %>
<div id="intro" class="row">
  <div id="description" class="span7">
    <p class="high text">Já pensou em transformar os seus <em>alunos</em> em <em>autores</em>?</p>
    <p class="text">Com o Livro da Classe você tem a consultoria editorial e um processo de impressão digital para fazer isso acontecer.</p>
    <p class="start-now"><%= link_to 'Cadastre a sua escola', new_user_path, :id => 'signup', :class => 'clean-gray' %><p>
  </div>
  <div id="illustration" class="span5">
    <%= image_tag 'livros.png', :width => '452', :height => '387' %>
  </div>
</div>
<hr class="faded">
<div id="benefits" class="row">
  <div class="benefit-item span4">
    <h2>Apoio editorial</h2>
    <p class="body-text">Você conta com os 13 anos de experiência editorial da Editora Hedra. Nossa equipe fica à sua disposição ao longo do projeto, orientando alunos e professores.</p>
  </div>
  <div class="benefit-item span4">
    <h2>Impressão digital</h2>
    <p class="body-text">O seu livro é resultado do processo único de impressão digital da Editora Hedra, que gera um produto de alta qualidade com tiragens pequenas &ndash; do tamanho da sua escola.</p>
  </div>
  <div class="benefit-item span4">
    <h2>De alunos a autores</h2>
    <p class="body-text">Todos os textos do Livro da Classe são considerados na seleção de jovens talentos feita pela Editora Hedra. Os melhores serão publicados na nossa Antologia de Jovens Autores.</p>
  </div>
</div>
