			<section id="request-contact">
				<div class="clearfix">
          <h1>Solicite mais informações</h1>
          <p>Preenchendo os dados abaixo você nos ajuda a saber mais sobre a sua escola e como atendê-la da melhor forma.</p>

          <%= flash_message %>

          <%= render 'form' %>
				
				</div>
			</section>