      <section id="request-contact">
        <div class="clearfix">
          <h1>Obrigado pelo seu interesse no Livro da Classe.</h1>
          <p>Entraremos em contato dentro de 24 horas.</p>        
        </div>
      </section>