<h3>Denominação social da CONTRATADA</h3>
<p>EDITORA HEDRA LTDA.</p>
<h3>Objeto</h3>
<p>Pelo presente instrumento e na melhor forma de direito, a CONTRATANTE acima qualificada, neste ato representada pelo responsável acima identificado, o qual declara, sob as penas da lei, possuir plenos poderes para atuar em nome da CONTRATANTE, e em especial para firmar o presente contrato, contrata os serviços de consultoria editorial e impressão a serem prestados pela CONTRATADA, observadas as disposições a seguir.</p>
<h3>Prazo do contrato</h3>
<p>O presente contrato inicia-se na data em que a CONTRATANTE confirmar sua adesão ao projeto LIVRO DA CLASSE, considerando-se aperfeiçoado no momento em que a CONTRATADA efetuar a entrega do material impresso.</p>
<h3>Prazo de entrega</h3>
<p>A CONTRATADA se compromete a entregar os livros impressos no prazo de 25 (quinze) dias contados da data que receber os arquivos finalizados por parte da CONTRATANTE.</p>
<h3>Preço</h3>
<p>O preço certo e ajustado pela presente prestação de serviços é de R$ 20,00 (quinze reais) por livro de até 100 páginas e R$ 0,20 (quinze centavos) por página excedente.</p>
<h3>Pagamento</h3>
<p>O pagamento dos serviços ora prestados deverá ser efetuado na data constante no boleto emitido pela CONTRATADA. Fica a CONTRATADA autorizada expressamente, pelo presente contrato, a emitir a nota fiscal de prestação dos serviços ora contratados e a respectiva duplicata de prestação de serviços, considerando-se o recibo de entrega da(s) mercadoria(s), como aceite. Uma vez entregues a(s) mercadoria(s) no endereço constante na cláusula 3 acima, considerar-se-á aperfeiçoada a prestação de serviços ora acordada, ainda que o recibo de entrega venha a ser assinado por terceiros, assim entendido por funcionário da CONTRATANTE, não podendo a CONTRATANTE jamais invocar a inexigibilidade do título executivo, sob alegação de não recebimento das mercadorias.</p>
<h3>Declarações e compromissos da contratada</h3>
<p>A CONTRATADA declara e se compromete, sob as penas da lei, que:</p>
<ol type="a">
  <li>Disponibilizará gratuitamente à CONTRATANTE, assessoria editorial durante todo o processo de criação de texto, para o uso exclusivo da CONTRATANTE para o cumprimento do presente contrato;</li>
  <li>Dará apoio editorial à CONTRATANTE sempre que solicitado por esta;</li>
  <li>O conteúdo e informação produzidos pela CONTRATADA, publicados pelo projeto LIVRO DA CLASSE, serão submetidos à licença –BY–  fornecida pela CREATIVE COMMONS,  que permite a difusão e reutilização da obra, inclusive para fins comerciais, desde que se mencione o nome do autor.</li>
</ol>
<h3>Declarações e compromissos da contratante</h3>
<p>A CONTRATANTE declara e se compromete,sob as penas da lei, que:</p>
<ol type="a">
  <li>Sempre que fizer o uso do projeto LIVRO DA CLASSE, o fará através da CONTRATADA;</li>
  <li>Ao utilizar o projeto LIVRO DA CLASSE está expressa e automaticamente contratando a impressão de, no mínimo, 50 (cem) exemplares;</li>
  <li>Que se responsabiliza exclusiva e integralmente por todo material/conteúdo inserido no livro, seja no miolo, seja na sua capa;</li>
  <li>Caso o conteúdo a ser impresso pela CONTRATADA contenha criação ou imagem protegidas por lei, especialmente no tocante a direito de imagem ou direitos autorais, que será de sua obrigação e responsabilidade a obtenção das competentes autorizações de uso e reprodução perante seus titulares;</li>
  <li>Caso a CONTRATADA venha a sofrer qualquer ação judicial que tenha por objeto a reivindicação de autoria ou indenização relativa a qualquer material inserido no livro, compromete-se a CONTRATANTE, desde já, a assumir todos os custos decorrentes do pleito, seja em via extrajudicial, seja em ação judicial, sendo de sua integral responsabilidade a reparação civil;</li>
  <li>Na hipótese da cláusula supra, deverá a CONTRATANTE requerer a exclusão da CONTRATADA do processo, ou caso a mesma venha a figurar isoladamente no pólo passivo, poderá utilizar-se do instituto da denunciação à lide, para que a CONTRATANTE venha a integrar e responder por todos os termos do processo, em virtude da presente contratação;</li>
  <li>Que se responsabiliza, como se seus fossem, por todos os atos, fatos, ações e omissões, ainda que não intencionais, decorrentes do seu comportamento e/ou de seus eventuais prepostos e demais pessoas físicas ou jurídicas a ela ligadas, direta ou indiretamente, que resultem em infração ao presente instrumento, inclusive no que se refere à violação, divulgação ou uso de informações confidenciais da CONTRATADA, hipóteses em que responderá por perdas e danos.</li>
</ol>
<h3>Infração contratual</h3>
<p>Em caso de descumprimento das obrigações assumidas no presente instrumento, por qualquer uma das partes, deverá a parte inocente notificar a parte infratora, por escrito, assinalando-lhe o prazo de 15 (quinze) dias para sanar a falha, após os quais, se não sanada, poderá a parte inocente considerar rescindido o presente contrato, de pleno, sem prejuízo de perdas e danos, lucros cessantes e demais indenizações cabíveis, sempre pautadas nos princípios da equidade e do não enriquecimento ilícito. Caso a rescisão venha a ser motivada pela CONTRATANTE, fica desde já facultado à CONTRATADA, levantar os custos incorridos com os serviços até então prestados, obrigando-se a CONTRATANTE, ao seu respectivo pagamento, sendo certo no momento em que a CONTRATANTE entregar à CONTRATADA, o material a ser impresso, considerar-se-á irrevogável e irretratável a presente contratação, obrigando-se a CONTRATANTE, por si e/ou sucessores, ao pagamento do preço integral contratado na cláusula 6, não comportando arrependimento, sob qualquer hipótese.</p>
<h3>Caso fortuito/força maior</h3>
<p>Casos fortuitos ou de força maior não são hipóteses para a rescisão do presente contrato, ficando suspensas as obrigações aqui assumidas, até que as condições para a sua continuidade sejam restabelecidas, sem prejuízo do pagamento do preço acordado na cláusula 6 acima.</p>
<h3>Multa contratual</h3>
<p>Caso a CONTRATANTE venha a fazer uso indevido do PROJETO LIVRO DA CLASSE ora licenciado, ficará responsável pelo pagamento de multa correspondente ao valor de impressão multiplicado pelo número de exemplares contratados, nunca inferior ao valor de impressão de 100 (cem) exemplares.</p>
<h3>Disposições gerais</h3>
<ol type="a">
  <li>A simples demora de uma das partes no exercício de determinado direito concedido por este contrato ou a falta de exercício de tal direito não significará a desistência ou a extinção de referido direito, nem que o mesmo deixará de existir ou terá o seu exercício suspenso ou dificultado no futuro, tampouco constituirá renúncia ou novação, e, portanto, toda e qualquer alteração ao presente contrato deverá ser feita por escrito, através de aditamento, assinado por ambas as partes.</li>
  <li>É facultado à CONTRATADA negar a prestação de serviços, caso haja pendência financeira da CONTRATANTE junto à CONTRATADA.</li>
  <li>Se alguma das disposições contratuais for considerada inválida, inexeqüível ou nula, este fato não acarretará a invalidade, inexiquibilidade ou nulidade de todo o contrato, permanecendo as outras disposições válidas, exeqüíveis e eficazes de acordo com seus termos.</li>
  <li>Qualquer uma das partes se obriga, a qualquer tempo, mesmo após a data da assinatura deste instrumento, mediante a solicitação da outra parte e desde que à custa da parte solicitante, a praticar, firmar, reconhecer e entregar todos os atos e documentos que venham a ser necessários para melhor consumar as operações previstas neste contrato.</li>
  <li>As partes não poderão ceder ou transferir este contrato, no todo ou em parte, a terceiros, sem a prévia e expressa anuência por escrito da outra parte.</li>
  <li>Em decorrência do quanto acima disposto, declarando ter total conhecimento, inclusive do alcance de seus efeitos, declarando, ainda, não estarem sob coação ou estado de perigo, tampouco terem sido induzidos a erro, ignorância, dolo ou lesão que possa ensejar a anulação ou nulidade das disposições aqui firmadas, manifestam as partes a sua expressa concordância, por constituir a totalidade do acordo entre os ora signatários.</li>
  <li>O presente contrato é assinado por prazo indeterminado, podendo ser rescindido a qualquer tempo, sem qualquer ônus a qualquer das partes, mediante simples aviso com 5 dias de antecedência, ficando, no entanto, ressalvado o direito da CONTRATADA em haver os valores relativos a eventuais pedidos pendentes e da CONTRATADA em receber pelos serviços já remunerados.</li>
</ol>
<h3>Foro de eleição</h3>
<p>As partes signatárias elegem o Foro das Comarca de Pinheiros , para dirimir quaisquer dúvidas ou controvérsias oriundas do presente instrumento, renunciando, expressamente, a qualquer outro por mais privilegiado que seja, declarando as partes que possuem condições econômicas para demandar em juízo, em qualquer localidade, não podendo assim, ser invocado o prejuízo para a ampla defesa.</p>
<p>E, por estarem justos e contratados, assinam o presente instrumento em 02 (duas) vias de igual teor, na presença das duas testemunhas abaixo firmadas.</p>
