<h1>Seu Projeto</h1>

<%= simple_form_for(@project, :url => { :action => :update }) do |f| %>
  <div class="form-inputs">
    <%= f.input :release_date, :as => :date_picker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
