<div class="row">
<div class="cataloging-container">
	<b id="cataloging">Dados catalográficos</b>
	<div class="row">
	  <div class="span4"><%= f.input :librarian_name %></div>
	  <div class="span4"><%= f.input :cdd %></div>
	  <div class="span4"><%= f.input :cdu %></div>
	</div>
</div>
</div>
