<%= render "navigation" %>

<h1>Editing book</h1>

<%= render 'form' %>

<%= link_to 'Show', @book %>


<% if session['admin_logged'] %>
	<p><%= link_to 'Return to admin area', admin_path %> </p>
<% end %>