<%= render "navigation" %>

<h1>Editar livro</h1>

<%= render 'form' %>

<%= link_to 'Ver livro', @book %>

<% if session['admin_logged'] %>
	<p><%= link_to 'Voltar para home do admin', admin_path %> </p>
<% end %>