<% if @books.present? %>

  <div class="btn-group">
    <%= link_to 'Novo livro', new_book_path, :class => 'btn btn-primary btn-new btn-small' %>
  </div>
<% else %>
  <p class="blank">Você não tem nenhum livro. Que tal <%= link_to 'começar um agora?', new_book_path %></p>
<% end %>
