<h1>Listing collaborations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collaborations.each do |collaboration| %>
  <tr>
    <td><%= link_to 'Show', book_collaboration %></td>
    <td><%= link_to 'Edit', edit_book_collaboration_path(collaboration) %></td>
    <td><%= link_to 'Destroy', book_collaboration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collaboration', new_book_collaboration_path %>
