@font-face {
  font-family: 'Calluna Sans';
  src: url('fonts/callunasans-regular.eot');
  src: url('fonts/callunasans-regular.eot?#iefix') format('embedded-opentype'),
   url('fonts/callunasans-regular.woff') format('woff'),
   url('fonts/callunasans-regular.ttf') format('truetype'),
   url('fonts/callunasans-regular.svg#calluna_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Calluna';
  src: url('fonts/calluna-regular.eot');
  src: url('fonts/calluna-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/calluna-regular.woff') format('woff'),
    url('fonts/calluna-regular.ttf') format('truetype'),
    url('fonts/calluna-regular.svg#callunaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-regular.eot');
  src: url('fonts/miso-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-regular.woff') format('woff'),
    url('fonts/miso-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-bold.eot');
  src: url('fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-bold.woff') format('woff'),
    url('fonts/miso-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
  Variables
  ========================================================================== */

$bodyBackground:                  ghostwhite;

$iconSpritePath:                  asset_path("glyphicons-halflings.png", image);
$iconWhiteSpritePath:             asset_path("glyphicons-halflings-white.png", image);


/* ==========================================================================
  Importing frameworks
  ========================================================================== */

@import 'bootstrap';
// @import 'responsive';
@import 'bourbon';

/* ==========================================================================
  Mixin overwrite
  ========================================================================== */

@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%; }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height; } }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height; } }

@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* ==========================================================================
   Basic tags
   ========================================================================== */

textarea {
  height: 150px;
  width: 100%;
}

.btn-new {
  margin-top: 10px;
  float: right;
}

.inline-checkbox label{
  min-height: 0px !important;
}

.fill *{
  width: 100%;
}

.collapse-click {
  cursor: pointer;
}

.collapse-head {
  background: #5ba0d0;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px; 
}

/* ==========================================================================
   Menu
   ========================================================================== */

.brand img{
  height: 40px;
}

.fill-width{
  width: 100% !important;
}

/* ==========================================================================
   Areas
   ========================================================================== */

.user-gravatar {
  margin-right: 8px;
}

#book-info {
  margin-bottom: 20px;
  color: #444;
  .book-title {
    display: inline-block;
    font-size: 2.2em;
    line-height: 1;
    text-shadow: 1px 1px 1px #FFF;
  }
  .project-remaining-days {
    position: relative;
    bottom: 5px;
    margin-left: 15px;
  }
  .nav {
    margin-bottom: 0px !important;
  }
  .book-info-aux {
    text-align: right;
    img {
      height: 80px;
    }
  }
}

#main {
  margin-top: 20px;
  padding-bottom: 50px;
  .container {
    background: white;
    border-radius: 5px;
    border: 1px solid #d0d5cb;
    padding: 15px;
    @include box-shadow(0 0 0 4px rgba(208,213,203,0.3));
  }
}

.alert-box {
  width: 21%;
  height: 17px;
  top: 31%;
  left: 48%;
  color: #0088cc;
  border: 0px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
}

@include sticky-footer(240px, "#wrap", "#push", "footer");


/* ==========================================================================
   Pages
   ========================================================================== */

/*
* Blank pages
*/

.blank {
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
}

/*
* New project
*/

.project-price{
  margin-bottom: 20px;
}

.project-price span{
  font-weight:bold;
}

/*
* Text index
*/

.text-list-collaborator {
  margin-top: 20px;
  font-size: 1.2em;
}

.text-list-collaborator li{
  margin-top: 5px;
}

.text-list-organizer {
  @extend .text-list-collaborator;
  list-style: none;
}

.text-btn-enabled {
  margin-left: 10px;
  margin-right: 12px;
}

.text-btn-disabled {
  margin-left: 10px;
  margin-right: 24px;
}

/*
* Scraps
*/

.scrap-parent {
  display: block;
  height: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  border-radius: 10px;
}

.scrap-child {
  padding: 15px;
  margin-left: 25px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.scrap-content{
  margin-top: 10px;
  padding-left: 25px;
}

.scrap-answer{
  padding: 15px;
  margin-left: 15px;
  border: 0px solid #404A72;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.scrap-answer textarea{
  width: 99%;
  height: auto;
}

.scrap-textarea{
  width: 98%;
}

/*Book Revision*/

.revision{
  width: 100%;
  height: 700px;
}

/* ==========================================================================
   CKEditor customizations
   ========================================================================== */

#cke_57_uiElement > tbody:first-child > tr:first-child > td:first-child {
  display: none;
}

#cke_Upload_96,
#cke_advanced_121 {
  display: none;
}

.small-intention {
  zoom: 0.3; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}

.medium-intention {
  zoom: 0.6; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}

.big-intention {
  zoom: 1; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}

.footnote-hr{
  border-top: 1px solid #c0c0c0;
}

.latex-inputbox{
  background-color: #73b8f7; 
  cursor: pointer; 
  -webkit-border-radius: 3px; 
  border-radius: 5px; 
  padding: 3px; 
  margin: 3px; 
  margin-left: 5px;
}

.epigraph{ 
  padding-left: 300px;
}

.epigraph-author{
  display: block;
  float: right;
}

.verse{
  font-style: oblique;
  background-color: #F5F9FA;
}

.chapter{
  background-color: #5e5e5e; 
  color: #fff;
  padding: 10px;
}

.chapter p{ 
  text-align:right; 
}

.chapter h3{ 
  font-style: oblique; 
}

.smallskip{
  background-color: #f0f0f0; 
  height: 14px;
}

.medskip{
  background-color: #e0e0e0;
  height: 28px;
}

.bigskip{
  background-color: #d0d0d0;
  height: 56px;
}

