/* ==========================================================================
  Variables
  ========================================================================== */

$bodyBackground:                  ghostwhite;

$iconSpritePath:                  asset_path("glyphicons-halflings.png", image);
$iconWhiteSpritePath:             asset_path("glyphicons-halflings-white.png", image);


/* ==========================================================================
  Importing frameworks
  ========================================================================== */

@import 'bootstrap';
// @import 'responsive';
@import 'bourbon';

/* ==========================================================================
  Mixin overwrite
  ========================================================================== */

@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%; }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height; } }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height; } }

@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* ==========================================================================
   Basic tags
   ========================================================================== */

textarea {
  height: 150px;
  width: 100%;
}

.btn-new {
  margin-top: 10px;
  float: right;
}

/* ==========================================================================
   Menu
   ========================================================================== */

.brand img{
  width: 50px;
}

/* ==========================================================================
   Areas
   ========================================================================== */

.user-gravatar {
  margin-right: 8px;
}

#book-info {
  margin-top: 20px;
  color: #444;
  .book-title {
    display: inline-block;
    font-size: 2.2em;
    line-height: 1;
    text-shadow: 1px 1px 1px #FFF;
  }
  .project-remaining-days {
    position: relative;
    bottom: 5px;
    margin-left: 15px;
  }
  .nav {
    margin-bottom: 0;
  }
  .book-info-aux {
    text-align: right;
    img {
      height: 80px;
    }
  }
}

#main {
  margin-top: 20px;
  padding-bottom: 50px;
  .container {
    background: white;
    border-radius: 5px;
    border: 1px solid #d0d5cb;
    padding: 15px;
    @include box-shadow(0 0 0 4px rgba(208,213,203,0.3));
  }
}

.alert-box {
  width: 21%;
  height: 17px;
  top: 31%;
  left: 48%;
  color: #0088cc;
  border: 0px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
}

footer {
  color: white;
  background: #434343 url('/assets/footer-border.png') top repeat-x;
  #logo {
    margin-top: 60px;
    float: left;
  }
  #address {
    margin-top: 60px;
    padding: 0 0 0 170px;
    h2 {
      margin: 0;
      font-size: 20px;
      line-height: 1.5;
    }
    address {
      font-size: 19px;
      line-height: 1.4;
    }
  }
}

@include sticky-footer(240px, "#wrap", "#push", "footer");


/* ==========================================================================
   Pages
   ========================================================================== */

/*
* Blank pages
*/

.blank {
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
}

/*
* New project
*/

.project-price{
  margin-bottom: 20px;
}

.project-price span{
  font-weight:bold;
}

/*
* Text index
*/

.text-list-collaborator {
  margin-top: 20px;
  font-size: 1.2em;
}

.text-list-collaborator li{
  margin-top: 5px;
}

.text-list-organizer {
  @extend .text-list-collaborator;
  list-style: none;
}

.text-btn-enabled {
  margin-left: 10px;
  margin-right: 12px;
}

.text-btn-disabled {
  margin-left: 10px;
  margin-right: 24px;
}

/* ==========================================================================
   CKEditor customizations
   ========================================================================== */

#cke_57_uiElement > tbody:first-child > tr:first-child > td:first-child {
  display: none;
}

#cke_Upload_96,
#cke_advanced_121 {
  display: none;
}

.small-intention {
  zoom: 0.3; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}

.medium-intention {
  zoom: 0.6; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}

.big-intention {
  zoom: 1; /* all browsers */
  -moz-transform: scale(0.3);  /* Firefox */
}