@import "main";

header {
  background: #CCDEFA url('/assets/topbar.png') bottom repeat-x;
  h1 {
    color: #333;
  }
  #userid {
    color: #666;
  }
}

#book-info {
  margin-bottom: 30px;
  font-size: 0.8em;
  color: #444;
  background: #eee;
  @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
  text-shadow: 1px 1px 1px #FFF;
  small {
    line-height: 1;
  }
  .book-title {
    margin: 0;
    font-size: 1.5em;
    line-height: 1;
  }
  .book-nav {
    margin-top: 10px;
    background: #f5f5f5;
    ul, li {
      margin: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      &:after {
        content: " \007C";
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}

.btn-new {
  margin-top: 14px;
  font-size: 0.9em;
  float: right;
}

#main {
  font-family: $altFontFamily;
}

.label {
  font-size: 0.55em;
}


/* ==========================================================================
   Pages
   ========================================================================== */

/*
* App home
*/

.nobook {
  margin-top: 70px;
  text-align: center;
  color: #666;
}
