#recados li{
  list-style:none;
}

#recados textarea {
  height: 40px;
  width: 80%;
}

#recados table th{
  text-align: left;
}

#book_number{
  width:50px;
}
#book_state{
  width:162px;
}
#book_zipcode{
  width:71px;
}
#book_city{
  width:140px;
}
#book_street{
  width:250px;
}
#book_title{
  width: 404px;
}

#team, #address, #cover, #cataloging{
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.address-itens{
  float:left;
  padding-left: 20px;
}

.cover-text{
  width: 95%;
  height: 75px;
  resize: none;
}

.cataloging-container{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-left: 40px;
}

#cover a{
  float: right;
  font-size: 14px;
  font-weight: normal;
}