#recados li{
  list-style:none;
}

#recados textarea {
  height: 40px;
  width: 80%;
}

#recados table th{
  text-align: left;
}

#book_number{
  width:50px;
}
#book_state{
  width:162px;
}
#book_zipcode{
  width:71px;
}
#book_city{
  width:140px;
}
#book_street{
  width:250px;
}
#book_title{
  width: 404px;
}

#team, #address{
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.address-itens{
  float:left;
  padding-left: 20px;
}

.cover-text{
  width: 95%;
  height: 75px;
  resize: none;
}

.cover-modal img {
  -webkit-box-shadow: 2px 3px 8px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 2px 3px 8px rgba(0,0,0,0.4);
}

/*.cataloging-container{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-left: 23px;
}*/

#cover a{
  float: right;
  font-size: 14px;
  font-weight: normal;
}

.crop-image-container{
  margin-top: 15px;
  padding-left: 5%;
}

.crop-image-container img{
  padding-top: 5px;
}

.crop-image-desc {
  padding-left: 20px;
}

.crop-label {
  margin-top: 15px;
}


/* modify bootstrap css, ckeditor's z index is big */
div.modal-backdrop{
  z-index: 10000;
}

div.modal{
  z-index: 12000;
}

/* end modify bootstrap css*/

/*modify the popup css to look like ckeditor*/
#modal_inline p{
  font-family: "Courier";
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.6em;
}
