@import "bootstrap";

body {
}

h1 {
  margin-bottom: 20px;
}

#navigation {
  padding: 10px;
  text-align: right;
  background: #eee;
  margin-bottom: 5px;
  font-size: 12px;
}

.logout {
  padding: 5px;
  background: #ddd;
}

#main {
  padding: 20px 30px;
}