@import "bootstrap";

#header {
	position: relative;
	padding: 20px 30px;
	background: #eee;
	font-size: 12px;
	overflow: auto;
}

#navigation {
	float: right;
	width: 300px;
	line-height: 3;
	text-align: right;
}

#header h2 {
	color: #757575;  
}

h2.livro-titulo:before {
	content: "Livro\: ";
	color: #999;
}

.logout {
	padding: 5px;
	background: #ddd;
}

#main {
	padding: 20px 30px;
}

.text-item {
	margin: 0;
	padding: 0;
}

.text-item li {
	list-style-type: none;
}

.text-item div {
	display: inline-block;
	padding: 10px;
}

.text-author {
	display: block;
	font-size: 22px;
}


.text-words {
	display: block;
}

#admin-is-logged {
	text-align: center;
	margin-bottom: 0px;
}

#pdfloading{
    top: 40%;
    left: 50%;
    position: absolute;
}


#text_title {
	font-size: 22px;
	width: 700px;
	height: 40px;
}

.text-url  {
	float: right;
	.btn {
		font-size: 18px;
		padding: 10px;
		margin-top: -6px;
	}
}


.comment {
	padding:5px;
	border-bottom: 1px dotted #ccc;
}