/*
 * Created by Willianson
 * At 2016.AUG
 *
 */




/* reset
-------------------------------------------------------------------------------------- */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*/
figure, ul, li { margin:0; padding:0; text-indent:0; }




/* base
---------------------------------------------------------------------------------------------------*/
.application h1, .application h2, .application h3, .application h4, .application h5 { margin:0; padding:0; line-height:120%; }
.application h1 			{ font-size:28px; font-weight:300; }
.application h2 			{ line-height:45px; font-size:24px; font-weight:100; }
.application main header 	{ padding:0 0 25px; }
.icon-arrow					{ display:inline-block; vertical-align:middle; width:0; height:0; border:5px solid #666; border-right-color:transparent; border-bottom-color:transparent; border-left-color:transparent; }




/* flex
---------------------------------------------------------------------------------------------------*/
.flex 					{ display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.flex-row 				{ flex-direction:row; }
.flex-column 			{ flex-direction:column; }
.flex-wrap 				{ flex-wrap:wrap; }
.flex-start 			{ justify-content:flex-start; }
.flex-end 				{ justify-content:flex-end; }
.flex-center 			{ justify-content:center; }
.flex-space-between 	{ justify-content:space-between; }
.flex-space-around 		{ justify-content:space-around; }
.flex-align-start 		{ align-items:flex-start; }
.flex-align-end 		{ align-items:flex-end; }
.flex-align-center 		{ align-items:center; }
.flex-align-baseline 	{ align-items:baseline; }
.flex-align-stretch 	{ align-items:stretch; }
.flex-1 				{ flex-basis:10%; }
.flex-2 				{ flex-basis:20%; }
.flex-3 				{ flex-basis:30%; }
.flex-4 				{ flex-basis:40%; }
.flex-5 				{ flex-basis:50%; }
.flex-6 				{ flex-basis:60%; }
.flex-7 				{ flex-basis:70%; }
.flex-8 				{ flex-basis:80%; }
.flex-9 				{ flex-basis:90%; }




/* books
---------------------------------------------------------------------------------------------------*/
.books article.book 					{ position:relative; margin-bottom:35px; padding:5px 5px 20px; width:20%; min-width:220px; text-align:center; background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2); }
.books article.book a.overall 			{ position:absolute; top:0; right:0; bottom:0; left:0; }
.books article.book figure.cover 		{ width:100%; height:300px; background:#CCC; }
.books article.book figure.cover img 	{  }
.books article.book div.information 	{ line-height:100%; }
.books article.book h3 					{ padding:15px 10px 5px; font-size:120%; }
.books article.book p 					{ margin:0; padding:0; }
.books article.book p.author 			{ padding-bottom:5px; }
.books article.book div.size 			{ opacity:0.6; margin-bottom:10px; font-style:italic; }
.books article.book p.pages_count 		{ display:inline-block; }
.books article.book p.chapters_count 	{ display:inline-block; }
.books article.book p.status 			{ display:inline-block; margin-bottom:5px; padding:3px 10px; font-weight:700; color:#FFF; background:#D2081E; border-radius:4px; }
.books article.book p.role 				{  }
.books article.book p.remove 			{ position:absolute; z-index:2; right:10px; bottom:10px; }
.books article.book p.remove a 			{ opacity:0.001; position:absolute; z-index:3; top:-5px; left:-5px; padding:0; width:30px; min-width:initial; height:30px; }
.books article.book p.remove img 		{ opacity:0.5; width:20px; }
.books article.book p.remove:hover img  { opacity:1.0; }
.books article.book.empty 				{ outline:2px dashed #BBB; background:transparent; }
.books article.book.empty h3 			{ padding-top:75px; font-size:18px; }
.books article.book.empty::before 		{ content:'+'; opacity:0.5; position:absolute; top:135px; right:0; left:0; font-size:100px; }
.books article.book.fill 				{ background:transparent; border:none; box-shadow:none; }



/* header
---------------------------------------------------------------------------------------------------*/
.application header.main-header 							{ padding:0; background:#FFF; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2); box-shadow:0 0 10px rgba(0, 0, 0, 0.2); }
.application header.main-header .inner-wrap					{ padding-top:0; padding-bottom:0; }
.application header.main-header .logo 						{ display:inline-block; padding:15px; width:70px; vertical-align:middle; }
.application header.main-header .logo img 					{ display:block; width:100%; }
.application header.main-header .navigation 				{ display:inline-block; float:right; vertical-align:middle; }
.application header.main-header .navigation>ul 				{  }
.application header.main-header .navigation>ul>li 			{ position:relative; float:left; margin-left:30px; line-height:115px; }
.application header.main-header .navigation>ul>li>a 		{ display:block; margin-bottom:-2px; line-height:90px; text-decoration:none; text-transform:uppercase; color:#666; font-size:15px; background:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border-bottom:2px solid transparent; }
.application header.main-header .navigation>ul>li>a:hover 	{ border-bottom:2px solid #d2081e; }
.application header.main-header .navigation>ul>li.active>a 	{ border-bottom:2px solid #d2081e; }
.application header.main-header .navigation>ul>li>a>i 		{ margin-left:4px; }
.application .header-space 									{ height:90px; }

.dropdown 							{ display:none; position:absolute; top:100%; right:0; margin-top:-2px; background:#FFF; -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.2); box-shadow:0 0 30px rgba(0, 0, 0, 0.2); }
.dropdown li 						{  }
.dropdown li a 						{ display:block; padding:20px 30px; font-size:14px; text-transform:uppercase; text-decoration:none; border-bottom:1px solid #EEE; white-space:nowrap; }
.open .dropdown 					{ display:block; }




/* main
---------------------------------------------------------------------------------------------------*/
main 								{ background:#F5F5F5; }
main .inner-wrap 					{ padding-top:50px; padding-bottom:50px; }




/* footer
---------------------------------------------------------------------------------------------------*/
footer.main-footer 					{ color:#444; border-top:1px solid #CCC; background:#E5E5E5; }




.main-header-app .navbar 						{ max-width:1200px; width:100%; margin:0 auto; line-height:79px; }
.main-header-app .navbar .navbar-left 			{ display:inline-block; /*float:left;*/ margin-right:auto; padding:0; /*vertical-align:top; */ }
.main-header-app .navbar .navbar-left ul.nav 	{ padding:0; margin:0; }
.main-header-app .navbar .navbar-left ul.nav li { padding:0; }

.main-header-app .navbar .navbar-right 							{ height:46px; padding:0; float:right; }
.main-header-app .navbar .navbar-right .navbar-logo 			{ display:inline-block; }
.main-header-app .navbar .navbar-right .navbar-logo a.logo 		{ padding:0 12px; font-size:32px; font-weight:bold; line-height:46px; text-decoration:none; color:#d2081e; font-family:Miso, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.main-header-app .navbar .navbar-right .navbar-logo img.logo 	{ height:47px; }
.main-header-app .navbar .navbar-right .navbar-user 			{ display:inline-block; line-height:72px; /*vertical-align:top;*/ padding-top:0; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button 			{ /*vertical-align:top;*/ height:46px; padding:0; margin:0; border:none; background:none; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button img 		{ -webkit-border-radius:23px; -moz-border-radius:23px; border-radius:23px; overflow:hidden; display:inline-block; width:40px; height:40px; margin:3px; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button .caret 	{ margin:21px 0 0 0; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown-menu 				{ top:47px; padding:0; background-color:#f1f1f5; background-image:-moz-linear-gradient(top, #f7f7f9, #eaeaef); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f9), to(#eaeaef)); background-image:-webkit-linear-gradient(top, #f7f7f9, #eaeaef); background-image:-o-linear-gradient(top, #f7f7f9, #eaeaef); background-image:linear-gradient(to bottom, #f7f7f9, #eaeaef); background-repeat:repeat-x; -webkit-box-shadow:0 2px 10px -2px; -moz-box-shadow:0 2px 10px -2px; box-shadow:0 2px 10px -2px; border:1px solid #cdcdd9; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }