@import "bootstrap";

@font-face {
  font-family: 'Calluna Sans';
  src: url('fonts/callunasans-regular.eot');
  src: url('fonts/callunasans-regular.eot?#iefix') format('embedded-opentype'),
   url('fonts/callunasans-regular.woff') format('woff'),
   url('fonts/callunasans-regular.ttf') format('truetype'),
   url('fonts/callunasans-regular.svg#calluna_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna';
  src: url('fonts/calluna-regular.eot');
  src: url('fonts/calluna-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/calluna-regular.woff') format('woff'),
    url('fonts/calluna-regular.ttf') format('truetype'),
    url('fonts/calluna-regular.svg#callunaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-regular.eot');
  src: url('fonts/miso-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-regular.woff') format('woff'),
    url('fonts/miso-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-bold.eot');
  src: url('fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-bold.woff') format('woff'),
    url('fonts/miso-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, html {
  background-color: #6ea1b6;
  margin: 0;
  padding: 0;
  min-width: 1020px;
  font-family: 'Calluna Sans';
}

p {
  font-size: 17px;
  line-height: 26px;
  font-family: 'Calluna';
  color: #444;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0px;
}

h2 {
  font-size: 22px;
  line-height: 22px;
}

h1, h2 {
  color: #519fc0;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 15px;
  margin-top: 147px;
  background-color: #f4f4f4;
}

.wrap-app {
  margin-top: 47px;
  h1 {
    margin-top: 20px;
  }
  h1, h2 {
    color: #666;
  }
}

.btn-group {
  display: flex;
  margin-top: 20px;
  .btn:last-child {
    margin-right: 0;
  }
}

.btn, input[type="submit"] {
  display: inline-block;
  width: 200px;
  padding: 14px 0px;
  margin-right: 20px;
  background: #fd8142;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:  none;
  text-align: center;
  color: #fff;
  font-family: 'Calluna Sans';
  font-size: 20px;
  &:disabled {
    background: #e4743b !important;
  }
  &:hover, &:focus {
    background: #fd8142;
    color: #fff;
    text-decoration: none;
  }
  &.btn-blue {
    background: #0088cc !important;
    &:disabled {
      background: #007ab8 !important;
    }
  }
  &.btn-small, &.btn-file {
    width: 140px;
    padding: 8px 0px;
    font-size: 14px;
    background: #fd8142 !important;
  }
  &.btn-mini {
    width: 80px;
    padding: 2px 0px;
    font-size: 12px;
    background: #39a0c1 !important;
  }
}

alert, .alert {
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

section {
  min-height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 50px 0;
  &>div {
    width: 940px;
    margin: 0 auto;
  }
}

.main-header {
  background-color: #f1f1f5;
  background-image: -moz-linear-gradient(top, #f7f7f9, #eaeaef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f9), to(#eaeaef));
  background-image: -webkit-linear-gradient(top, #f7f7f9, #eaeaef);
  background-image: -o-linear-gradient(top, #f7f7f9, #eaeaef);
  background-image: linear-gradient(to bottom, #f7f7f9, #eaeaef);
  background-repeat: repeat-x;
  border-bottom: 1px solid #cdcdd9;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  left: 15px;
  right: 15px;
  top: 0px;
  position: absolute;
  .navbar {
    width: 940px;
    margin: 0 auto;
    position: relative;
    .navbar-inner {
      background: none;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
    }
    .navbar-top {
      height: 100px;
      .navbar-logo {
        float: left;
        a.logo {
          padding: 0 12px;
          font-size: 58px;
          font-weight: bold;
          line-height: 100px;
          text-decoration: none;
          color: #e7611d;
          font-family: Miso, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
      .navbar-user {
        float: right;
        padding-top: 30px;
        label {
          display: inline-block;
          float: left;
          font-size: 16px;
          line-height: 20px;
          padding: 15px;
          margin: 0;
          a {
            color: #e7611d;
          }
        }
        figure {
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          overflow: hidden;
          display: inline-block;
          width: 50px;
          height: 50px;
          float: right;
          margin: 0;
        }
      }
    }
    .navbar-bottom {
      ul.nav {
        padding: 0;
        margin: 0;
        li {
          padding: 0 10px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #666;
            font-size: 15px;
            padding: 12px 18px;
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-bottom: 2px solid transparent;
            &:hover {
              border-bottom: 2px solid #e7611d;
            }
          }
          &.active {
            a {
              border-bottom: 2px solid #e7611d;
            }
          }
        }
      }
    }
  }
  &.affix {
    z-index: 1000;
    position: fixed;
    -webkit-box-shadow: 0 5px 20px -10px;
    -moz-box-shadow: 0 5px 20px -10px;
    box-shadow: 0 5px 20px -10px;
    .navbar {
      .navbar-top {
        display: inline-block;
        float: right;
        height: 46px;
        .navbar-logo {
          float: right;
          a.logo {
            font-size: 32px;
            line-height: 46px;
          }
        }
        .navbar-user {
          display: inline-block;
          padding-top: 0;
          label {
            display: none;
          }
          figure {
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            border-radius: 23px;
            width: 40px;
            height: 40px;
            margin: 3px;
          }
        }
      }
      .navbar-bottom {
        display: inline-block;
        float: left;
        ul.nav {
          li {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

.main-header-app {
  left: 15px;
  right: 15px;
  top: 0px;
  position: fixed;
  z-index: 1000;
  .navbar {
    width: 940px;
    margin: 0 auto;
    display: flex;
    .navbar-left {
      padding: 0;
      margin-right: auto;
      ul.nav {
        padding: 0;
        margin: 0;
        li {
          padding: 0 5px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #666;
            font-size: 15px;
            padding: 12px 18px;
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-bottom: 2px solid transparent;
            &:hover {
              border-bottom: 2px solid #e7611d;
            }
          }
          &.active {
            a {
              border-bottom: 2px solid #e7611d;
            }
          }
        }
      }
    }
    .navbar-right {
      display: flex;
      height: 46px;
      padding: 0;
      .navbar-logo {
        display: inline-block;
        a.logo {
          padding: 0 12px;
          font-size: 32px;
          font-weight: bold;
          line-height: 46px;
          text-decoration: none;
          color: #e7611d;
          font-family: Miso, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
      .navbar-user {
        display: inline-block;
        padding-top: 0;
        figure {
          -webkit-border-radius: 23px;
          -moz-border-radius: 23px;
          border-radius: 23px;
          overflow: hidden;
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: 3px;
        }
        .caret {
          margin: 21px 0;
        }
        .dropdown>a {
          display: flex;
        }
        .dropdown-menu {
          top: 47px;
          background-color: #f1f1f5;
          background-image: -moz-linear-gradient(top, #f7f7f9, #eaeaef);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f9), to(#eaeaef));
          background-image: -webkit-linear-gradient(top, #f7f7f9, #eaeaef);
          background-image: -o-linear-gradient(top, #f7f7f9, #eaeaef);
          background-image: linear-gradient(to bottom, #f7f7f9, #eaeaef);
          background-repeat: repeat-x;
          -webkit-box-shadow: 0 2px 10px -2px;
          -moz-box-shadow: 0 2px 10px -2px;
          box-shadow: 0 2px 10px -2px;
          border: 1px solid #cdcdd9;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
    }
  }
}

.main-footer {
  width: 100%;
  min-height: 140px;
  background: #434343;
  margin-top: 10px;
  .footer-top {
    margin: 0 10%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    ul.nav {
      margin: 0;
      li {
        display: inline-block;
        padding: 10px 20px;
        &:first-child {
          padding-left: 0;
        }
        a {
          color: #fff;
          text-decoration: none;
          background: none;
        }
      }
    }
  }
  .footer-bottom {
    margin: 0 10%;
    padding: 15px;
    border-top: 1px solid #333;
    color: #fff;
    height: 20px;
    .address {
      float: left;
      display: inline-block;
      font-style: italic;
    }
    .copyright {
      float: right;
      display: inline-block;
    }
  }
}

#home .video {
  .top {
    height: 420px;
    .links {
      float: left;
      border: 1px solid #ccc;
      border-right: none;
      ul {
        float: left;
        width: 198px;
        height: 418px;
        margin: 0;
        padding: 0;
        li {
          background: #f7f7f9;
          text-align: left;
          padding: 46px 20px;
          height: 46px;
          color: #2781A7;
          font-size: 17px;
          .icon {
            float: left;
            display: inline-block;
            width: 55px;
            height: 55px;
            background: url(video-icons.jpg);
          }
          .text {
            display: inline-block;
            width: 55px;
            height: 55px;
            margin-left: 5px;
            line-height: 22px;
          }
          &:nth-child(1) span.icon {
            background-position: 0px -40px;
          }
          &:nth-child(2) {
            background: #ededf1;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            span.icon {
              background-position: 0px -180px;
            }
          }
          &:nth-child(3) span.icon {
            background-position: 0px -325px;
          }
        }
      }
    }  
    .video {
      float: right;
      height: 418px;
      width: 738px;
      border: 1px solid #ccc;
      border-left: none;
      background: #515151;
    }
  }
  .bottom {
    height: 88px;
    padding: 0 120px;
    a {
      display: block;
      background: #39a0c1;
      width: 300px;
      margin: 38px 10px 0 0;
      float: left;
      padding: 14px;
      text-decoration: none;
      color: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      &.saiba-mais {
        margin-left: 10px;
      }
      &.comece-agora {
        background: #fd8142;
      }
    }
    .modal-title {
      color: #519fc0;
      text-transform: uppercase;
    }
    .modal-body {
      .question {
        color: #519fc0;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Calluna Sans';
        text-rendering: optimizelegibility;
      }
      .answer {
        margin-bottom: 36px;
      }
    }
  }
}

#home .quem-somos {
  ul {
    li {
      width: 230px;
      padding: 0px 40px;
      font-size: 17px;
      line-height: 22px;
      display: inline-block;
      .user {
        margin-bottom: 20px;
        h2 {
          font-size: 22px;
        }
        figure {
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          border-radius: 60px;
          overflow: hidden;
          width: 130px;
        }
      }
      article p {
        position: relative;
        &:before {
          content: '"';
          font-size: 50px;
          position: absolute;
          left: -25px;
          color: #000;
          font-weight: bold;
          top: 5px;
        }
      }
    }
  }
}

#home .como-funciona {
  article {
    height: 140px;
    border-top: 1px dashed #ccc;
    figure {
      float: left;
      display: inline-block;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      overflow: hidden;
      width: 100px;
      padding: 20px;
      margin: 0;
    }
    p {
      display: table-cell;
      vertical-align: middle;
      width: 800px;
      height: 140px;
    }
    &:nth-child(3) {
      text-align: right;
      figure {
        float: right;
      }
    }
    &:last-child {
      border-bottom: 1px dashed #ccc;
    }
  }
}

#home #clientes {
  min-height: 200px;
  .list-carousel {
    position: relative;
    z-index: 100;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      position: absolute;
      li {
        height: 120px;
        width: 174px;
        padding: 0;
        background-color: #ccc;
        margin: 0 6px;
        display: block;
        float: left;
        img {
          max-height: 120px;
        }
      }
    }
  }
}

#home .contato {
  p {
    display: inline-block;
    margin: 16px 0;
    width: 520px;
    float: left;
  }
  form {
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    width: 360px;
    input, textarea {
      font-family: 'Calluna Sans';
      width: 334px;
      padding: 12px;
      border: 1px solid #ccc;
      margin: 10px 0px;
      font-size: 17px;
    }
    input[type="submit"] {
      width: 200px;
      padding: 14px 0px;
      background: #fd8142;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border:  none;
      color: #fff;
      font-family: 'Calluna Sans';
      font-size: 20px;
    }
  }
}

#wizard .steps {
  margin: 0 auto;
  padding: 40px 0 60px 0;
  width: 800px;
  .bar {
    background: #fff;
    border: 1px dotted #e7611d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px;
    ul {
      margin: 0 -12px;
      position: relative;
      &:after {
        content: '';
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        left: 12px;
        height: 12px;
        width: 800px;
        position: absolute;
      }
      li {
        background: #fff;
        border: 1px dotted #e7611d;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -webkit-box-shadow: inset 0 0 0 3px #fff;
        -moz-box-shadow: inset 0 0 0 3px #fff;
        box-shadow: inset 0 0 0 3px #fff;
        float: left;
        height: 22px;
        width: 22px;
        margin-right: 242px;
        margin-top: -6px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #838383;
          font-size: 13px;
          text-align: center;
          left: -64px;
          top: -32px;
          width: 150px;
          position: absolute;
        }
        &.past, &.active {
          background: #e7611d;
          -webkit-box-shadow: inset 0 0 0 2px #fff;
          -moz-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
        }
        &.past {
          z-index: 110;
          &:after {
            content: '';
            background: #e7611d;
            left: 12px;
            top: 7px;
            height: 8px;
            width: 266.6px;
            position: absolute;
          }
        }
        &.active {
          z-index: 109;
        }
      }
    }
  }
} 

#wizard .substeps {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  display: flex;
  .buttons {
    background: #88b2c2;
    width: 300px;
    min-height: 500px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    ul {
      background: #fff;
      list-style: none;
      margin: 0;
      li {
        border-top: 1px solid #DBDBDB;
        padding: 18px;
        button {
          color: #555;
          font-size: 15px;
          line-height: 20px;
          text-decoration: none;
          border: none;
          background: none;
          text-transform: uppercase;
          font-family: 'Calluna Sans';
        }
        &:first-child {
          border-top: none;
          -webkit-border-top-left-radius: 3px;
          -moz-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
        }
        &.selected {
          background-color: #39a0c1;
          button {
            color: #fff;
          }
          &:before {
            content: '';
            border-top: 29px solid transparent;
            border-bottom: 29px solid transparent;
            border-left: 18px solid #39a0c1;
            position: absolute;
            margin-left: 282px;
            margin-top: -18px;
          }
        }
      }
    }
  }
  .substep {
    width: 540px;
    margin: 40px 50px;
    .control-group {
      width: auto;
      margin-right: 20px;
      display: inline-block;
      textarea {
        width: 100%;
      }
      .cke_chrome {
        width: 540px;
      }
      &.optional {
        margin-bottom: 30px;
      }
    }
    .fileupload {
      display: inline-block;
      margin-right: 40px;
    }
    form {
      //margin: 20px 0;
      span {
        margin: 0 15px 15px 15px;
        padding: 5px;
        width: 228px;
        border-bottom: 1px dashed #ccc;
        display: inline-block;
        input {
          margin: 0;
          margin-bottom: 5px;
        }
        label {
          margin: 0 0 0 5px;
          display: inline-block;
          font-size: 17px;
        }
      }
    }
  }
}

.cadastro-login {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 330px;
  padding: 40px 50px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e8 100%); /* W3C */
  .social-connect {
    position: absolute;
    right: 33px;
    top: 35px;
    span {
      position: absolute;
      top: -20px;
    }
    li {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      a {
        display: block;
        float: left;
        background-image: url(social-connect.png);
        width: 100%;
        height: 100%;
      }
      &.facebook a {
        background-position: 0px 0px;
      }
      &.twitter a {
        background-position: -40px 0px;
      }
      &.google a {
        background-position: -78px 0px;
      }
    }
  }
  .tabs {
    display: block;
    width: 430px;
    border-bottom: 1px solid #ccc;
    margin-left: -50px;
    margin-bottom: 30px;
    float: left;
    a {
      display: block;
      float: left;
      margin: 0px -45px -1px 50px;
      border: 1px solid #ccc;
      background: #f1f1f3; /* Old browsers */
      background: -moz-linear-gradient(top,  #f1f1f3 0%, #fcfcfc 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f3), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f1f1f3 0%,#fcfcfc 100%); /* W3C */
      padding: 14px 16px;
      text-transform: uppercase;
      box-shadow: inset 0px 1px 0px #fff;
    }
  }
  a.active {
    border-bottom: none;
    color: #222;
    margin-top: 0px;
    padding-bottom: 15px;
  }
  h1 {
    display: none;
  }
  form div {
    margin: 4px 0;
    padding: 0;
  }
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"]{
    width: 300px;
    padding: 15px;
  }
  input[type="submit"] {
    text-transform: uppercase;
    background: #39a0c1;
    width: auto;
    padding: 14px;
    margin: 10px 0 0;
  }
}

