$iconSpritePath: asset-path("glyphicons-halflings.png", image);
$iconWhiteSpritePath: asset-path("glyphicons-halflings-white.png", image);

@import "bootstrap";

@font-face {
  font-family: 'Calluna Sans';
  src: url('fonts/callunasans-regular.eot');
  src: url('fonts/callunasans-regular.eot?#iefix') format('embedded-opentype'),
   url('fonts/callunasans-regular.woff') format('woff'),
   url('fonts/callunasans-regular.ttf') format('truetype'),
   url('fonts/callunasans-regular.svg#calluna_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna';
  src: url('fonts/calluna-regular.eot');
  src: url('fonts/calluna-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/calluna-regular.woff') format('woff'),
    url('fonts/calluna-regular.ttf') format('truetype'),
    url('fonts/calluna-regular.svg#callunaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-regular.eot');
  src: url('fonts/miso-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-regular.woff') format('woff'),
    url('fonts/miso-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miso';
  src: url('fonts/miso-bold.eot');
  src: url('fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/miso-bold.woff') format('woff'),
    url('fonts/miso-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.application  				{ min-width:580px; }
.application h1, .application h2, .application h3, .application h4, .application h5 { margin:0; padding:0; line-height:120%; }
.application h1 			{ font-size:28px; font-weight:300; }
.application h2 			{ line-height:45px; font-size:24px; font-weight:100; }
.application main header 	{ padding:0 0 25px; }

.dropdown 							{ display:none; position:absolute; top:100%; right:0; margin-top:-2px; background:#FFF; -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.2); box-shadow:0 0 30px rgba(0, 0, 0, 0.2); }
.dropdown li 						{ line-height:initial; list-style: none;}
.dropdown li a 						{ display:block; padding:20px 30px; font-size:14px; color:#444; text-transform:uppercase; text-decoration:none; border-bottom:1px solid #EEE; white-space:nowrap; }
.open .dropdown 					{ display:block; }

main 								{ background:#F5F5F5; }
main .inner-wrap 					{ padding-top:100px; padding-bottom:50px; }

.wrap {
  min-height: 100%;
  height: auto !important;
  background-color: #f4f4f4;
}

.wrap-app {
  h1 {
    margin-top: 20px;
  }
  h1, h2 {
    color: #666;
  }
}

.btn-group {
  margin-top: 20px;
  .btn:last-child {
    margin-right: 0;
  }
}

.btn, input[type="submit"] {
  display: inline-block;
  min-width: 200px;
  padding: 14px;
  margin-right: 20px;
  margin-bottom: 2px;
  background: #fd8142;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:  none;
  text-align: center;
  color: #fff;
  font-family: 'Calluna Sans';
  font-size: 20px;
  vertical-align: top;
  &:hover, &:focus {
    background: #fd8142;
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    background: #e4743b !important;
  }
  &.btn-primary {
    background: #0088cc !important;
    &:disabled {
      background: #007ab8 !important;
    }
  }
  &.btn-warning, &.btn-danger {
    background: #ff4719 !important;
    &:disabled {
      background: #e64016 !important;
    }
  }
  &.btn-success {
    background: #33ad5c !important;
    &:disabled {
      background: #2e9c53  !important;
    }
  }
  &.btn-small, &.btn-file {
    min-width: 140px;
    padding: 8px;
    font-size: 14px;
  }
  &.btn-mini {
    min-width: 80px;
    padding: 0 6px;
    font-size: 12px;
  }
}

alert, .alert {
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

section {
  min-height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 50px 0;
  &>div {
    width: 940px;
    margin: 0 auto;
  }
}

.application header.main-header 							{ padding:0; background:#FFF; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2); box-shadow:0 0 10px rgba(0, 0, 0, 0.2); position: fixed; z-index: 1; width:100%}
.application header.main-header .inner-wrap					{ padding-top:0; padding-bottom:0; }
.application header.main-header .logo 						{ display:inline-block; padding:15px; width:70px; vertical-align:middle; }
.application header.main-header .logo img 					{ display:block; width:100%; }
.application header.main-header .navigation 				{ display:inline-block; float:right; vertical-align:middle; }
.application header.main-header .navigation>ul 				{  }
.application header.main-header .navigation>ul>li 			{ position:relative; float:left; margin-left:30px; line-height:115px; list-style: none;}
.application header.main-header .navigation>ul>li>a 		{ display:block; margin-bottom:-2px; line-height:90px; text-decoration:none; text-transform:uppercase; color:#666; font-size:15px; background:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border-bottom:2px solid transparent; }
.application header.main-header .navigation>ul>li>a:hover 	{ border-bottom:2px solid #d2081e; }
.application header.main-header .navigation>ul>li.active>a 	{ border-bottom:2px solid #d2081e; }
.application header.main-header .navigation>ul>li>a>i 		{ margin-left:4px; }

.application .header-space 									{ height:90px; }

.main-header-app .navbar 						{ max-width:1200px; width:100%; margin:0 auto; line-height:79px; }
.main-header-app .navbar .navbar-left 			{ display:inline-block; /*float:left;*/ margin-right:auto; padding:0; /*vertical-align:top; */ }
.main-header-app .navbar .navbar-left ul.nav 	{ padding:0; margin:0; }
.main-header-app .navbar .navbar-left ul.nav li { padding:0; }

.main-header-app .navbar .navbar-right 							{ height:46px; padding:0; float:right; }
.main-header-app .navbar .navbar-right .navbar-logo 			{ display:inline-block; }
.main-header-app .navbar .navbar-right .navbar-logo a.logo 		{ padding:0 12px; font-size:32px; font-weight:bold; line-height:46px; text-decoration:none; color:#d2081e; font-family:Miso, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.main-header-app .navbar .navbar-right .navbar-logo img.logo 	{ height:47px; }
.main-header-app .navbar .navbar-right .navbar-user 			{ display:inline-block; line-height:72px; /*vertical-align:top;*/ padding-top:0; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button 			{ /*vertical-align:top;*/ height:46px; padding:0; margin:0; border:none; background:none; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button img 		{ -webkit-border-radius:23px; -moz-border-radius:23px; border-radius:23px; overflow:hidden; display:inline-block; width:40px; height:40px; margin:3px; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown > button .caret 	{ margin:21px 0 0 0; }
.main-header-app .navbar .navbar-right .navbar-user .dropdown-menu 				{ top:47px; padding:0; background-color:#f1f1f5; background-image:-moz-linear-gradient(top, #f7f7f9, #eaeaef); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f9), to(#eaeaef)); background-image:-webkit-linear-gradient(top, #f7f7f9, #eaeaef); background-image:-o-linear-gradient(top, #f7f7f9, #eaeaef); background-image:linear-gradient(to bottom, #f7f7f9, #eaeaef); background-repeat:repeat-x; -webkit-box-shadow:0 2px 10px -2px; -moz-box-shadow:0 2px 10px -2px; box-shadow:0 2px 10px -2px; border:1px solid #cdcdd9; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }

.main-footer {
  width: 100%;
  min-height: 140px;
  background: #434343;
  margin-top: 10px;
  .footer-top {
    margin: 0 10%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    ul.nav {
      margin: 0;
      li {
        display: inline-block;
        padding: 10px 20px;
        &:first-child {
          padding-left: 0;
        }
        a {
          color: #fff;
          text-decoration: none;
          background: none;
        }
      }
    }
  }
  .footer-bottom {
    margin: 0 10%;
    padding: 15px;
    border-top: 1px solid #333;
    color: #fff;
    height: 20px;
    .address {
      float: left;
      display: inline-block;
      font-style: italic;
    }
    .copyright {
      float: right;
      display: inline-block;
    }
  }
}

#wizard .steps {
  margin: 0 auto;
  padding: 40px 0 60px 0;
  width: 800px;
  .bar {
    background: #fff;
    border: 1px dotted #e7611d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px;
    ul {
      margin: 0 -12px;
      position: relative;
      &:after {
        content: '';
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        left: 12px;
        height: 12px;
        width: 800px;
        position: absolute;
      }
      li {
        background: #fff;
        border: 1px dotted #e7611d;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -webkit-box-shadow: inset 0 0 0 3px #fff;
        -moz-box-shadow: inset 0 0 0 3px #fff;
        box-shadow: inset 0 0 0 3px #fff;
        float: left;
        height: 22px;
        width: 22px;
        margin-right: 242px;
        margin-top: -6px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #838383;
          font-size: 13px;
          text-align: center;
          left: -64px;
          top: -32px;
          width: 150px;
          position: absolute;
        }
        &.past, &.active {
          background: #e7611d;
          -webkit-box-shadow: inset 0 0 0 2px #fff;
          -moz-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
        }
        &.past {
          z-index: 110;
          &:after {
            content: '';
            background: #e7611d;
            left: 12px;
            top: 7px;
            height: 8px;
            width: 266.6px;
            position: absolute;
          }
        }
        &.active {
          z-index: 109;
        }
      }
    }
  }
}

#wizard .substeps {
  background: #88b2c2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 82px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .buttons {
    float: left;
    width: 300px;
    ul {
      position: relative;
      background: #fff;
      list-style: none;
      margin: 0;
      li {
        border-top: 1px solid #DBDBDB;
        padding: 18px;
        button {
          color: #555;
          font-size: 15px;
          line-height: 20px;
          text-decoration: none;
          border: none;
          background: none;
          text-transform: uppercase;
          font-family: 'Calluna Sans';
        }
        &:first-child {
          border-top: none;
        }
        &.selected {
          background-color: #39a0c1;
          button {
            color: #fff;
          }
          &:before {
            content: '';
            border-top: 29px solid transparent;
            border-bottom: 29px solid transparent;
            border-left: 18px solid #39a0c1;
            position: absolute;
            margin-left: 282px;
            margin-top: -18px;
          }
        }
      }
    }
  }
  .substep {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 540px;
    min-height: 400px;
    padding: 40px 50px;
    -webkit-box-shadow: 22px 0px 20px -20px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 22px 0px 20px -20px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 22px 0px 20px -20px rgba(0, 0, 0, 0.2) inset;
    .control-group {
      width: auto;
      margin-right: 20px;
      display: inline-block;
      textarea {
        width: 100%;
      }
      .cke_chrome {
        width: 540px;
      }
      &.optional {
        margin-bottom: 30px;
      }
    }
    .fileupload {
      display: inline-block;
      margin-right: 40px;
    }
    form {
      //margin: 20px 0;
      span {
        margin: 0 15px 15px 15px;
        padding: 5px;
        width: 228px;
        border-bottom: 1px dashed #ccc;
        display: inline-block;
        input {
          margin: 0;
          margin-bottom: 5px;
        }
        label {
          margin: 0 0 0 5px;
          display: inline-block;
          font-size: 17px;
        }
      }
    }
  }
}

.cadastro-login {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 330px;
  padding: 40px 50px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e8 100%); /* W3C */
  .social-connect {
    position: absolute;
    right: 33px;
    top: 35px;
    span {
      position: absolute;
      top: -20px;
    }
    li {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      a {
        display: block;
        float: left;
        background-image: url(social-connect.png);
        width: 100%;
        height: 100%;
      }
      &.facebook a {
        background-position: 0px 0px;
      }
      &.twitter a {
        background-position: -40px 0px;
      }
      &.google a {
        background-position: -78px 0px;
      }
    }
  }
  .tabs {
    display: block;
    width: 430px;
    border-bottom: 1px solid #ccc;
    margin-left: -50px;
    margin-bottom: 30px;
    float: left;
    a {
      display: block;
      float: left;
      margin: 0px -45px -1px 50px;
      border: 1px solid #ccc;
      background: #f1f1f3; /* Old browsers */
      background: -moz-linear-gradient(top,  #f1f1f3 0%, #fcfcfc 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f3), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f1f1f3 0%,#fcfcfc 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f1f1f3 0%,#fcfcfc 100%); /* W3C */
      padding: 14px 16px;
      text-transform: uppercase;
      box-shadow: inset 0px 1px 0px #fff;
    }
  }
  a.active {
    border-bottom: none;
    color: #222;
    margin-top: 0px;
    padding-bottom: 15px;
  }
  h1 {
    display: none;
  }
  form div {
    margin: 4px 0;
    padding: 0;
  }
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"]{
    width: 300px;
    padding: 15px;
  }
  input[type="submit"] {
    text-transform: uppercase;
    background: #39a0c1;
    width: auto;
    padding: 14px;
    margin: 10px 0 0;
  }
}

.chapter {
  min-height: 0;
  width: auto;
  background-color: #aeaeae;
  color: #fff;
  padding: 10px;
  p {
    color: #fff;
    text-align: right;
  }
  h1 {
    color: #fff;
  }
  h3 {
    color: #fff;
    font-style: oblique;
  }
}
