header {
  background: #e91d27 url('/assets/topbar.png') bottom repeat-x;
  h1 {
    color: white;
  }
  #userid {
    color: white;
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

/* Home */

#intro {
  margin-top: 0;
  #description {
    padding-top: 30px;
    text-align: center;
    .high {
      margin: 0;
      padding: 0;
      font-size: 1.9em;
      line-height: 1.4em;
      text-align: center;
      word-spacing: 0.1em;
      em {
        font-style: normal;
        font-size: 1.6em;
        color: #e91d27;
      }
    }
    .start-now {
      margin: 53px 0 0 0;
      text-align: center;
    }
  }
  #illustration {
    padding-top: 20px;
    text-align: center;
    img {
      width: 80%;
      height: auto;
    }
  }
}

#benefits {
  margin-top: 40px;
  h2 {
    margin: 0;
    padding: 0;
    color: #e91d27;
    font-size: 1.4em;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}
