	

	<div class="fileupload <%= @book.book_data.capainteira.present? ? 'fileupload-exists' : 'fileupload-new' %>" data-provides="fileupload">
		<!-- <div class="fileupload-new thumbnail"> -->
			<div class="fileupload-preview fileupload-exists" style="display:block; margin-top:-20px;">
				<img src="<%= @book.book_data.capainteira.url(:original) %>" alt="" style="width:100%; background:#CCC; border:1px solid #AAA; margin:12px 0;">
				<% #= image_tag(@book.book_data.capainteira.url(:original)) if @book.book_data.capainteira.present? %>
			</div>

			<div class="actions">
				<!-- <span class="btn btn-file"> -->
					<!-- <span class="fileupload-new">Selecionar imagem</span> -->
					<!-- <span class="fileupload-exists">Alterar</span> -->

					<br/>
					
					<%= f.input_field :capainteira, :as => :file, :class =>'input-item left', :style =>'font-size:100%;' %>
					<a id="#remove_capainteita_btn" href="#" class="btn btn-file fileupload-exists right tc-red-dark" data-dismiss="fileupload">Remover</a>
					
					<div class="clear"></div>
					
					<br/><br/>
				<!-- </span> -->
			</div>

			<div class="clear"></div>
		<!-- </div> -->
	</div>
