<div class="credits-container">
  <%#= f.input :copyrightlivro, :label => t('book_data.copyrightlivro') %>
  <%#= f.input :copyrighttraducao, :label => t('book_data.copyrighttraducao') %>
  <%#= f.input :copyrightorganizacao, :label => t('book_data.copyrightorganizacao') %>
  <%#= f.input :copyrightilustracao, :label => t('book_data.copyrightilustracao') %>
  <%#= f.input :copyrightintroducao, :label => t('book_data.copyrightintroducao') %>
  <%#= f.input :titulooriginal, :label => t('book_data.titulooriginal') %>
  <%#= f.input :edicaoconsultada, :label => t('book_data.edicaoconsultada') %>
  <%#= f.input :primeiraedicao, :label => t('book_data.primeiraedicao') %>
  <%= f.input :agradecimentos, :label => t('book_data.agradecimentos') %>
  <%#= f.input :indicacao, :label => t('book_data.indicacao') %>
  <%#= f.input :isbn, :label => t('book_data.isbn') %>
  <%#= f.input :ano, :label => t('book_data.ano') %>
  <%#= f.input :edicao, :label => t('book_data.edicao') %>
  <%#= f.input :coedicao, :label => t('book_data.coedicao') %>
  <%#= f.input :assistencia, :label => t('book_data.assistencia') %>
  <%= f.input :revisao, :label => t('book_data.revisao') %>
  <%= f.input :preparacao, :label => t('book_data.preparacao') %>
  <%#= f.input :capa, :label => t('book_data.capa') %>
  <%= f.input :imagemcapa, :label => t('book_data.imagemcapa') %>
  <%#= f.input :numeroedicao, :label => t('book_data.numeroedicao'), as: :integer, input_html: { rows: 2, min: 1, max: 100 }%>
</div>
