<div class="ebook-container">
  <h3 id="ebook" class="collapse-click collapse-head">Ebook</h3>
  <div class="fields">
    <div class="row">
      <div class="span11"><%= f.input :publicaebook, :label => t('book_data.publicaebook') %></div>
    </div>
  </div>
</div>