<div class="metadata-container">
  <h3 id="metadata" class="collapse-click collapse-head">Metadata</h3>
  <div class="fields">
    <div class="row">
      <div class="span11"><%= f.input :palavraschave, :label => t('book_data.palavraschave') %></div>
    </div>
  </div>
</div>