<div class="alert alert-info">
  Informe seu nome completo para criar um texto no livro.
</div>
<%= simple_form_for([@book, @text]) do |f| %>
	<%= f.error_notification %>
  <div class="well">
  	<div class="form-inputs">
  		<%= f.input :author_name, :label => "Seu nome:" %>    
  	</div>
  	<div class="form-actions">
  		<%= f.button :submit, "Começar a digitar o texto" %>
  	</div>
  </div>
<% end %>