<div style='display:none'>
  <h1>Novo capítulo <small><%= @book.title  %></small></h1>
  <%= render 'form' %>
</div>
<h2>Preparando, aguarde...</h2>
<script>
   $(document.forms).first().submit();
</script>